.container {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.position-re {
  position: relative;
  z-index: 100;
}
.campaign__main {
  display: flex;
  align-items: center;
}
.campain_list {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}
.campain_list::-webkit-scrollbar-thumb {
  width: 2px; /* Điều chỉnh chiều rộng tại đây */
  background-color: rgb(0, 114, 187); /* Màu nền của thanh cuộn con */
  height: 4px;
}
.campain_list::-webkit-scrollbar {
  width: 2px; /* Điều chỉnh chiều rộng tổng của thanh scroll bar */
  background-color: #f1f1f1; /* Màu nền của thanh scroll bar */
  height: 10px;
}

.campaign {
  z-index: 99;
  word-break: break-all;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  /* min-width: 210px; */
  width: 210px;
  max-width: 210px;
  height: 120px;
  margin-left: 16px;
  cursor: pointer;
  border: 2px solid rgb(250, 250, 250);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}
.campain_left {
  width: 7%;
}
.campaign_content_head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.campaign_content {
}
.deleteCampaign {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 30px;
}
.position-re:hover .deleteCampaign {
  display: block;
}
.btn-add {
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.btn-add:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}
.icon_content {
  display: inline-block;
}
.icon_content svg {
  width: 100%;
}
.icon_content svg path {
  color: #fff;
  background-color: #fff;
}
.container {
  padding: 30px;
  height: calc(100vh - 102px);
}
.content {
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.child_campaign {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.active {
  border: 2px solid rgb(0, 114, 187);
}
.campain_name {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.campain_name svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  font-size: 14px;
  color: #fff;

  padding-left: 8px;
}
.campain_name svg path {
  font-size: 14px;
  /* color: #fff; */
  fill: green;
}
.icon_done {
  fill: green !important;
}

.advertising_list {
  margin-top: 20px !important;
  max-height: 430px !important;
  overflow-y: auto !important;
}
.advertising_list::-webkit-scrollbar-thumb {
  width: 2px; /* Điều chỉnh chiều rộng tại đây */
  background-color: rgb(0, 114, 187); /* Màu nền của thanh cuộn con */
  height: 4px;
}
.advertising_list::-webkit-scrollbar {
  width: 10px; /* Điều chỉnh chiều rộng tổng của thanh scroll bar */
  background-color: #f1f1f1; /* Màu nền của thanh scroll bar */
  height: 10px;
}
.tab_head {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}
.tab_bot {
  z-index: 1;
}
.total_quantyti {
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  margin-top: 20px;
}

.campaign_none {
  height: 120px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_delete {
  color: red;
}
.icon_delete:hover {
  color: rgb(131, 0, 0);
}
.error{
  color: red;

}
.error .MuiInput-underline:before{
  border-bottom: 1px solid red !important;
}
.submit{
  margin-top: 20px;
  display: flex;
  justify-content: end;
}
.main_file_left{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.campaignName{
  margin-bottom: 20px;
}
.main_file_left .css-v4u5dn-MuiInputBase-root-MuiInput-root{
  margin-bottom: 20px !important;
}
.dele_For_Checkbox{
    color: red
}
.dele_For_Checkbox:hover{
  color: rgb(197, 11, 11);
  cursor: pointer;
}
.fild_under{
  position: relative;
  width: 100%;
}
.text_err{
  position: absolute;
  bottom: -2px;
  font-size: 13px;
  color: red;

}
.fild_under .error{
  width: 100% !important;

}
.fild_under .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  width: 100% !important;

}
.position-re campaign {

}.text_err_campaign{
  bottom: -20px;
}